.note-loader-container {
  width: 100vw;
 display: flex;
 justify-content: center;
 align-items: center;
 transform: perspective(1000px) rotate(-45deg);
  transform-style: preserve-3d;
}


.note{
  width: 70px;
  height: 90px;
  border-radius: 4px;
  position: relative;
  top: 0;
  left: 0;
  transform-origin: right center;
}


.note1{
  background-color: rgb(27, 2, 54);
  transform: rotateY(0deg);
  animation: note1 4.5s infinite ease;
  z-index: 999;
}

.note2{
  background-color: rgb(8, 51, 31) ;
  transform: rotateY(0deg);
  animation: note2 4.5s infinite ease;
}

.note3{
  transform: rotateY(0deg);
  background-color: rgb(238, 9, 78);
  animation: note3 4.5s infinite ease;
 
}

.note4{
  transform: rotateY(0deg);
  background-color: rgb(255, 72, 0);
  animation: note4 4.5s infinite ease;
}

@keyframes note4 {
  10%{
    transform:rotateY(145deg) skewY(35deg);
  }
  60%{
    opacity: 0;
  }
  72%{
    transform: rotateY(0deg);
    opacity: 1;
  }
}

@keyframes note3 {
  20%{
    transform:rotateY(105deg) skewY(20deg);
  }
  50%{
    opacity: 0;
  }
  72%{
    transform: rotateY(0deg);
    opacity: 1;
  }
}

@keyframes note2 {
  30%{
    /* transform:rotateY(128deg) skewY(20deg); */
    transform:rotateY(95deg) skewY(20deg);
    
  }
  40%{
    opacity: 0;
  }
  72%{
    transform: rotateY(0deg);
    opacity: 1;
  }
}

@keyframes note1 {
  48%{
    transform:rotateY(205deg) skewY(10deg);
    z-index: 9999;
  }
  100%{
    transform: rotateY(360deg);
  }
}
